<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    <h1>GAMEW!</h1>
    <div class="midja">

        <img id="pfp" src="/images/<%= pfp %>" alt="<%= userName %>" draggable="false">

        <p class="userInfo"><%= userName %></p>
    </div> <br>
<!--
-->
    <p id="card"><%= cardsTitles %></p>
    
    <% cards.forEach(card => { %>
        <img src="/images/cardImages/<%= card %>.png" alt="card image">
    <% }) %>


</body>
</html>