<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>
<body>
    <h1>GAMEW!</h1>
    <div class="midja">

        <img id="pfp" src="/images/<%= pfp %>" alt="<%= userName %>" draggable="false">

        <p class="userInfo"><%= userName %></p>
    </div> <br>

    <p>Score: <%= %> every fail -10</p>
<!--
-->

    <div id="cardButtons">
        <button type="submit">
            <img src="/images/cardImages/<%= cards[0] %>.png" alt="card image">
        </button>
        <button type="submit">
            <img src="/images/cardImages/<%= cards[1] %>.png" alt="card image">
        </button>
        <button type="submit">
            <img src="/images/cardImages/<%= cards[2] %>.png" alt="card image">
        </button>
        <button type="submit">
            <img src="/images/cardImages/<%= cards[3] %>.png" alt="card image">
        </button>
    </div>

    <table class="scoreboard">
        <tr>
            <th colspan="2">Top Players</th>
        </tr>
        <% topPlayers.forEach(function(player) { %>
        <tr>
            <td>tempUser</td>
            <td>tempScore</td>
        </tr>
        <% }); %>
    </table>


    <%#
    Nodejs
    flakk
    gott css
    myndir
    session
    json
    github
    js

    cards.forEach(card => { %>
    <%# }) %>
</body>
</html>